@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*       {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar     {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    position: sticky;
    top: 0;
}
.navbar ul     {
    display: flex;
    list-style: none;
    margin: 25px;
}
.navbar ul li   {
    font-family: poppins;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a  {
    text-decoration: none;
    color: brown;
    padding: 10px 30px;
    transition: all .6s ease;
}
.navbar ul li a:hover {
    background-color: antiquewhite;
    color: black;
    box-shadow: 0 0 15px antiquewhite;
}

/* Home Section */
#home       {
    display: flex;
    flex-direction: column;
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('profile2.JPG') no-repeat center center/cover;
    height: 950px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main       {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    position: absolute;
    top: 33%;
    left: 11%;
}
.heading    {
    font-family: poppins;
    font-size: 2.7rem;
    text-align: center;
    margin: 40px 0px;
}
.btn        {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .7s ease;
}
.btn:hover    {
    cursor: pointer;
    background-color: aquamarine;
    color: black;
    box-shadow: 0 0 5px aquamarine, 0 0 10px aquamarine 0 0 15px aquamarine;
    font-weight: bold;
}

/* About Section */